body {
	margin:		15px;
	padding:	5px;
	width:		400px;
	border-style:	solid;
	border-width:	4px;
}

#h_style {
	margin:		15px;
	margin-bottom:	25px;
	font-family: 	"Arial", Times, serif;
	font-size:	20px;
	font-weight:	bold;
}

#s_style {
	margin:		15px;
	margin-bottom:	30px;
	font-family: 	"Arial", Times, serif;
	font-size:	15px;
}

#p_style {
	margin:		15px;
	margin-bottom:	30px;
	font-family: 	"Arial", Times, serif;
	font-size:	15px;
}

#r_style {
	margin:		15px;
	margin-bottom:	30px;
	font-family: 	"Arial", Times, serif;
	font-size:	15px;
}

#ptcbar_style {
	
	margin-left:	10px;
	margin-right:	10px;
}

#t_style {
	margin:		15px;
	font-family: 	"Arial", Times, serif;
	font-size:	15px;
}


